@font-face {
  font-family: Roboto ligh;
  src: url('../../../assets/fonts/Roboto-Light.ttf');
}

@font-face {
  font-family: Quicksand Book;
  src: url('../../../assets/fonts/Quicksand-Regular.ttf');
}

@import "../../../styles.scss";

#container {
  background-color: black;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 6px 6px 0 0;

  #toolBar {
    -webkit-app-region: drag;
    background-color: #1b1b1b;
    flex-basis: 8%;
    border-radius: 6px 6px 0 0;
    display: flex;
    flex-direction: row;
    -webkit-align-content: center; /* Safari */
    align-content: center;
    padding: 8px;
    box-sizing: border-box;
    border-bottom: 2px solid rgba(0, 0, 0, 0.6);

    #app_icon {
      width: 27px;
      margin-right: 2px;
    }
    #app_title {
      font-family: "Roboto light";
      color: white;
      margin-right: 34%;
      font: {
        size: 1.2em;
      }
    ;
      span {
        color: #fff;
        display: inline-block;
        /* float:left;  remove */
        margin: 3px;
      }
    }
    #app_menu {
      margin-top: 8px;
      ul {
        -webkit-app-region: no-drag;
        padding: 0;
        margin: 0 130px 0 0;
        display: inline;
        li {
          display: inline-block;
          color: white;
          font: {
            family: "Quicksand Book";
            size: 0.9em;
          }
        ;
          &:active {
            color: #c8c4c3;
          }
          &:nth-child(1) {

            margin-left: 6px;
            margin-right: 16px;
            width: 54px;

          }
          &:nth-child(2) {

            margin-left: 6px;
            margin-right: 16px;
            width: 48px;
            &:hover ~ hr {
              margin-left: 76px;
              width: 60px;
            }

          }
          &:nth-child(3) {

            margin-left: 6px;
            margin-right: 16px;
            width: 74px;
            &:hover ~ hr {
              margin-left: 146px;
              width: 86px;
            }

          }
          &:nth-child(4) {

            margin-left: 6px;
            margin-right: 16px;
            width: 62px;
            &:hover ~ hr {
              margin-left: 240px;
              width: 76px;
            }

          }

        }
        hr {
          margin-left: 0;
          height: 2px;
          width: 66px;
          background: $gradient_accent;
          border: none;
          transition: .3s ease-in-out;
        }
      }

    }
    #drop-down-menu {

      svg.arrow-down{
        margin-top: 8px;
        margin-bottom: 4px;
        fill: white;
        z-index: 2;
        padding: 6px;
        position: absolute;
        -webkit-app-region: no-drag;
        &:active{
          fill:#c8c4c3;
        }

      }


      #menu{
        height: 100px;
        width: 34px;
        right:26px;
        background: rgba(255,255,255,0.4);
        position: absolute;
        z-index: 0;
        border-radius: 4px ;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        svg{
          height: 20px;
          padding: 6px;

          &#app_minimize{
            height:1.4px;

          }

            fill: #f4f6f9;

          &:hover{
            fill: $color_pink;
          }
        }


      }
    }

  }

  #content {
    background: rgba(27, 27, 27, 0.90);
    flex-basis: 79%;
  }

  #player {
    background-color: rgba(255, 255, 255, 0.20);
    flex-basis: 13%;
    margin: 0;
    width: 100%;

  }

}







