<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>CubeTube</title>

</head>
<body>
<div id="container">
  <div id="toolBar">
    <img id="app_icon" src="../../assets/icons/SVG/app_icon.svg"/>
    <div id="app_title"><span>CubeTube</span></div>
    <div id="app_menu">
      <ul>
        <li class="pointer">Look up</li>
        <li class="pointer">Playlist</li>
        <li class="pointer">Downloads</li>
        <li class="pointer">Favorites</li>
        <hr/>
      </ul>
    </div>
    <img id="toggle-drop-down-menu" src="../../assets/icons/SVG/arrow_down.svg" (click)="openMenu()">
    <div id="drop-down-menu"></div>
  </div>
  <div id="content">
    content

  </div>
  <div id="player">
    <app-player></app-player>
  </div>


</div>


<script>
  // You can also require other files to run in this process
  require('./renderer.js')


</script>
</body>
</html>

