<div id="player-component">
  <div id="progressbar" (mousemove)="mouseOverProgressBar($event)">
    <hr #progress/>

    <div id="pin">

      <hr/>
      <button (mousedown)="pinDown($event)" (mouseup)="pinUp($event)"></button>

    </div>
  </div>
  <div id="player">
    <div class="thumbnail">
      <img height="77px" h src="../../../../src/app/assets/icons/SVG/default_thumbnail_icon.svg">


    </div>
    <div class="info">
       <span class="title">
BIRDY + RHODES - Let It All Go [Official]

      </span>

      <span class="author">Birdy </span>
      <span class="views">  41,791,479 views</span>


    </div>
    <div class="controls">
      <div class="playType repeat">
        <button id="repeat">

        </button>
      </div>
      <button id="control-backward">

      </button>
      <div class="container">
        <div  class="{{paused? 'hide':''}}">
          <svg   xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80 80">
            <title>pulse</title>
            <g>
              <circle cx="40" cy="40" r="80" fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="1.5"
                      opacity="0.1"/>
              <circle cx="40" cy="40" r="80" fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="1.8"
                      opacity="0.2"/>
              <circle cx="40" cy="40" r="80" fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="2"
                      opacity="0.4"/>


            </g>
          </svg>
        </div>


        <button id="control-playPause" (click)="playPauseFunction()" class="{{paused?'play':'pause'}}">

        </button>

      </div>


      <button id="control-forward">

      </button>
      <div class="playType">
        <button id="shuffle">

        </button>
      </div>


    </div>
    <div class="volume">
      <img
        src="{{volumeOn ? './src/app/assets/icons/SVG/volumeOn_icon.svg':'./src/app/assets/icons/SVG/volumeOff_icon.svg'}}">
      <div id="volumeBar" (mousemove)="setVolumeLevel($event)" (mousedown)="changeVolumeLvlDown($event)"
           (mouseup)="changeVolumeLvlUp($event)">
        <div #volumeLvl id="lvl"></div>
      </div>

    </div>
    <div class="equalizer"></div>
    <div class="progress">0:00 / 0:00</div>


  </div>

</div>


<!--file:///C:/Users/bouza/Desktop/CubeTube/CubeTubeng/assets/icons/SVG/volume_off_icon.svg-->
<!--file:///C:/Users/bouza/Desktop/CubeTube/CubeTubeng/angular-electron/dist/src/app/assets/icons/SVG/volume_off_icon.svg-->
