@import "../../../styles.scss";

@font-face {
  font-family: Roboto ligh;
  src: url('../../../assets/fonts/Roboto-Thin.ttf');
}

@font-face {
  font-family: Quicksand Book;
  src: url('../../../assets/fonts/Quicksand-Regular.ttf');
}

#player-component {
  height: 98%;
  //resetting the default behaviour
  button {
    margin: 0;
    border: 0;
    padding: 0;
    display: inline-block;
    vertical-align: middle;
    white-space: normal;
    background: none;
    outline: none;
    line-height: 1;

  }

  //////////////////////////////

  .hide{
    visibility: hidden;
  }
  .show{
    display: inherit;

  }




  #progressbar {
    background: rgba(254, 253, 255, 0.4);
    width: 100%;
    height: 2px;
    display: flex;
    flex-direction: row;

    hr {
      align-self: center;
      border: 0;
      margin: 0;
      padding: 0;
      height: 2px;
      background: $gradient_accent_reverse;
      width: 80%;
    }
    #pin {
      align-self: center;
      border-radius: 50%;
      height: 28px;
      background: url('../../assets/icons/SVG/circle-border.svg') no-repeat center;
      background-size: 50% auto;
      transition: background-size .3s ease-in;

      width: 28px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      z-index: 2;
      hr {
        flex-basis: 22.6%;
        background: rgba(218, 82, 58, 1);
      }
      button {
        height: 57.1428%;
        width: 57.1428%;
        border-radius: 50%;

        border: none;
        background-color: $color_pink;
        align-self: center;
        &:active {
          background-color: #f0705d;
          transition: background-color 0.1s linear;
        }
      }
      &:hover {

        background-size: 100% auto;
        transition: background-size .3s ease-in;

      }
      &:active {
        background-size: 100% auto;
        transition: background-size .3s ease-in;
      }

    }

  }

  #player {
    margin: 0;
    padding: 0;
    display: flex;
    height: 100%;

    div {
      //border: 2px red solid;
      align-self: center;

    }
    .thumbnail {
      flex-basis: 10%;
      padding:0px ;
      margin-left: 4px;


    }
    .info {
      flex-basis: 23%;
      margin-left:4px ;
      span{
        color: white;
        font: {
          family: "Roboto light";
          size: 1em;

        };
        display: block;
        &.author{
          display: inline;
          border-right: 1px solid rgba(255,255,255,0.6);
          font-family:  Roboto ligh;
          color: rgba(255,255,255,0.6);
        }
        &.views{
          padding-left: 4px;
          display:inline ;
          font-family:  Roboto ligh;
          color:rgba(255,255,255,0.6)
        }
      }

    }
    .controls {
      flex-basis: 34%;
      text-align: center;
      display: flex;
      div {
        &.playType{
          align-self: center;
          border-left: 1px solid rgba(255,255,255,0.2);
          margin-left: 0px;

          &.repeat{
            border-right: 1px solid rgba(255,255,255,0.2);
            border-left:0;
            margin-right:0px;


          }
        }



         #shuffle {
          background: url('../../assets/icons/SVG/shuffle.svg') no-repeat 100%;
          width: 24px;
          margin-left:10px;

        }
        #repeat{
          background: url('../../assets/icons/SVG/repeat.svg') no-repeat 100%;
          width: 24px;
          margin-right:10px;
        }
        &.container {
          align-self: center;
          position: relative;
          height: 77px;
          width: 90px;

          svg {
            height: 68px;
            width: 68px;
            position: absolute;
            left: 0;
            right: 0;
            margin: 0 auto;
            padding: 5px 4px 4px 4px;
            z-index: 1;
            overflow: visible;
            circle {

              transform-origin: center;
              transform: scale(0.31);
              animation: pulse 2s infinite;
              animation-timing-function: linear;
              &:nth-child(1) {
                animation-delay: .5s;
              }
              &:nth-child(2) {
                animation-delay: 1s;
              }
              &:nth-child(3) {
                animation-delay: 1.5s;
              }
            }

          }

          @keyframes pulse {
            0% {
              opacity: .6;
              stroke-width: 2;

              transform: scale(0.31);
            }
            100% {
              opacity: 0;
              stroke-width: 0.8;
              transform: scale(.49);
            }
          }

        }

      }
      -webkit-justify-content: space-around;
      button {
        height: 32px;
        width: 32px;
        border: 0;
        //border-radius: 50%;
        //border: 1px white solid;
        align-self: center;
        background: transparent;

        &#control-backward {
          background: url('../../assets/icons/SVG/backwards_icon.svg') no-repeat 100%;
          margin-right: -38px;

        }

        &#control-playPause {

          height: 42px;
          width: 42px;
          position: absolute;
          top: 18px;
          left: 0;
          right: 0;
          margin: 0 auto;
          padding: 4px 4px 4px 4px;
          z-index: 1;
          overflow: visible;
          &.pause {
            background: url('../../assets/icons/SVG/Pause_icon.svg') no-repeat 100%;
          }
          &.play {
            background: url('../../assets/icons/SVG/play_icon.svg') no-repeat 100%;
          }
        }

        &#control-forward {
          background: url('../../assets/icons/SVG/forwards_icon.svg') no-repeat 100%;
          margin-left: -38px;

        }


      }


    }
    .volume {
      flex-basis: 15%;
      display: flex;
      justify-content: center;
      img {
        height: 14px;
        margin-right: 4px;
        flex-basis: 20px;
      }
      #volumeBar {
        height: 8px;
        flex-basis: 90px;
        background-color: rgba(255, 255, 255, 0.28);
        border-radius: 4px;
        #lvl {
          height: 100%;
          width: 50%;
          background: $gradient_accent;
          border-radius: 4px;
        }
      }
    }
    .equalizer {
      flex-basis: 6%;

    }
    .progress {
      flex-basis: 12%;
      color: white;
      font: {
        size: 0.9rem;
        family: 'Roboto ligh';
      }
    ;

    }

  }
}
