/* You can add global styles to this file, and also import other style files */
html, body {
  background-color: transparent;
  height: 100%;
  margin: 0;
  -webkit-user-select: none;
  cursor: default;
  box-sizing: border-box;
  border-radius: 6px;

}
